body{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
  text-decoration: none;
}

p1{
 
  font-size: 70px;

  font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    
  
}

.title{
    padding-top: 50px;
  height: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.main{
    display: flex;
    flex-direction: column;
    height: 135px;

}

.mainElement{
    padding-top: 10px;
    padding-right: 40px;
    height: 10px;
}

.PDF{
  display: flex;
    flex-direction: column;
    align-items: center;
}
.section{
    display: flex;
    flex-direction: column;
}
.sectionHead{
    height: 0px;
    font-size: 50px;
    font-family: "Public Sans", sans-serif;
    font-weight: 150;
    font-style: italic;
    width: 950px;
}



.sector{
    padding-left: 270px;
    height: 304px;
    width: 1254px;
    display: flex;
    align-items: flex-start;
    
}

.barPic{
    padding-left: 20px;
    padding-top: 75px;
    opacity: 100%;
    height: 20px;
    display: inline;

}


.navbar{
    height: 60px;
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}

.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.button-57 {
  align-items: center;
  background-color: #e9e3b9;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-57:hover:after {
  transform: translate(0, 0);
}

.button-57:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-57:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-57 {
    padding: 0 40px;
  }
}
